*/__delme__/*
delme
__pycache__/*
*.pyc
*/out/*
*.pdf
topaze
*.ipynb
*.gif

.DS_Store
.idea/modules.xml
.idea/v4-math-and-theory.iml
*.xml
*.iml
*.sqlite
.hypothesis
.ipynb_checkpoints
carbon/tools/*

